<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<!-- 配置一个servlet程序 -->
	<servlet>
		<!-- servlet的内部名称 ，可以自定义 -->
		<servlet-name>HelloServlet</servlet-name>
		<!-- servlet类名： 包名+简单类名 -->
		<servlet-class>com.chance.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<!-- servlet的内部名称，和上面的名称保持一致！！！ -->
		<servlet-name>HelloServlet</servlet-name>
		<!-- servlet的访问名称： /名称 -->
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
</web-app>